In [1]:
import praw

In [25]:
reddit = praw.Reddit(client_id='BZP40CxtUuPK51Wxgjglqw',
                    client_secret= '-6P6IQjnRKAVckg9s66Tf8Xy5hTIhg',
                    user_agent='User-Agent: liverpool:pre.match.mood:v1.0 (by /u/u/Reasonable-Manner680)',
                    username='Reasonable-Manner680',
                    password='leon82020',)

In [99]:
#Poll Reddit by sub
sub='LiverpoolFC'
subReddit = reddit.subreddit(sub)

In [126]:
total_limit = 100
Player_Ratings = []
cycle= True
count = 0
beginning_of_season = 1659744000

In [129]:

hot_liv = subReddit.search('Player Ratings')

submission_list = [
    x for x in hot_liv
    if (x.created_utc >= beginning_of_season and x.link_flair_text == 'Player Ratings')
]

In [151]:
import pandas as pd
data = pd.DataFrame()

for i in submission_list:
    finaltitle = ''
    title = i.title.split()
    for i in range(len(title)):
        if ']' in title[i]:
            newtitle = title[i+1::]
            finaltitle = ' '.join(newtitle)
            data[finaltitle] = 0
    print(finaltitle)

LIVERPOOL FC 2 - 5 REAL MADRID
CRYSTAL PALACE 0 - 0 LIVERPOOL FC
WOLVES 3 - 0 LIVERPOOL FC
NEWCASTLE 0 - 2 LIVERPOOL FC
LIVERPOOL FC 2 - 0 EVERTON
BRIGHTON 2 - 1 LIVERPOOL FC

BRIGHTON 3 - 0 LIVERPOOL FC
WOLVES 0 - 1 LIVERPOOL FC & LIVERPOOL FC 0 - 0 CHELSEA
Mid-Season Review & Southampton
Liverpool 1 - 0 Man City
Liverpool 3 - 1 Southampton
Liverpool 1 - 0 West Ham
EVERTON 0 - 0 LIVERPOOL FC & NAPOLI 4 - 1 LIVERPOOL FC
Liverpool 1 - 2 Leeds
Spurs 1 - 2 Liverpool
Liverpool 1 - 0 Man City
Nottingham Forest 1 - 0 Liverpool
Arsenal 3 - 2 Liverpool
Rangers 1 - 7 Liverpool
Fulham 2 - 2 Liverpool
Everton 0 - 0 Liverpool
Liverpool 3 - 3 Brighton
Spurs
Liverpool 2 - 1 Ajax
Nottingham Forest 1 - 0 Liverpool
Liverpool 0 (3) - (2) 0 Derby County
Leeds
Arsenal
Liverpool 1 - 0 West Ham
LIVERPOOL FC 1 - 1 CRYSTAL PALACE
Manchester United 2 - 1 Liverpool
Liverpool 9 - 0 Bournemouth
Liverpool 3 - 3 Brighton
Liverpool 2 - 0 Rangers
Liverpool 2 - 0 Napoli
Man United 2 - 1 Liverpool
Napoli 4 - 1 Liverpool
Liverpool 2 - 1 Ajax
Fulham 2 - 2 Liverpool
Liverpool 9 - 0 Bournemouth
Ajax 0 - 3 Liverpool
Liverpool 1 - 1 Crystal Palace
Liverpool 2-0 Rangers
Ajax 0 - 3 Liverpool

In [149]:
data

Empty DataFrame
Columns: [LIVERPOOL FC 2 - 5 REAL MADRID, CRYSTAL PALACE 0 - 0 LIVERPOOL FC, WOLVES 3 - 0 LIVERPOOL FC, NEWCASTLE 0 - 2 LIVERPOOL FC, LIVERPOOL FC 2 - 0 EVERTON, BRIGHTON 2 - 1 LIVERPOOL FC, BRIGHTON 3 - 0 LIVERPOOL FC, WOLVES 0 - 1 LIVERPOOL FC & LIVERPOOL FC 0 - 0 CHELSEA, Mid-Season Review & Southampton, Liverpool 1 - 0 Man City, Liverpool 3 - 1 Southampton, Liverpool 1 - 0 West Ham, EVERTON 0 - 0 LIVERPOOL FC & NAPOLI 4 - 1 LIVERPOOL FC, Liverpool 1 - 2 Leeds, Spurs 1 - 2 Liverpool, Nottingham Forest 1 - 0 Liverpool, Arsenal 3 - 2 Liverpool, Rangers 1 - 7 Liverpool, Fulham 2 - 2 Liverpool, Everton 0 - 0 Liverpool, Liverpool 3 - 3 Brighton, Derby & [RESULTS] Spurs, Spurs, Liverpool 2 - 1 Ajax, Liverpool 0 (3) - (2) 0 Derby County, Liverpool 2 - 0 Napoli & [RESULTS] Leeds, Leeds, Rangers & [PLAYER RATINGS RESULTS] Arsenal, Arsenal, LIVERPOOL FC 1 - 1 CRYSTAL PALACE, Manchester United 2 - 1 Liverpool, Liverpool 9 - 0 Bournemouth, Liverpool 2 - 0 Rangers, Liverpool 2 - 0 Napoli, Man United 2 - 1 Liverpool, Napoli 4 - 1 Liverpool, Ajax 0 - 3 Liverpool, Liverpool 1 - 1 Crystal Palace, Liverpool 2-0 Rangers]
Index: []

[0 rows x 39 columns]